
<h2 align="center">  Titulo: <%= @articulo.title %> </h2>

<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center descripcion"> <strong>Descripcion: </strong></h4> 
  <hr>
  <%= simple_format(@articulo.description) %>
  <div class="article-actions">
    <%= link_to "Editar este articulo" , edit_article_path(@articulo), class: "btn btn-xs btn-primary" %> 
    <%= link_to "Eliminar este articulo" , article_path(@articulo), method: :delete, 
                             data: {confirm: "¿Estas seguro que deseas borrar el articulo?"},
                             class: "btn btn-xs btn-danger"%>
    <%= link_to "Ver todos los articulos" , articles_path, class: "btn btn-xs btn-success"  %> 

  </div>
</div>
