<h1 align="center"> Crear nueva categoría</h1>

<%= render 'compartido/errores', :parametros => {:parametro1 => "new",
                                                 :objeto => "de la categoría"} , obj: @categoria %>


    <!--  los parametros, como las clases, se pasan en un hash -->
    <%= form_for(@categoria, :html => {class: "form-horizontal", role: "form"}) do |f|  %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <!--  <%= f.label :username   %>   coloca la etiqueta con el nombre del campo -->
          <%= f.label "Nombre de la categoría"  %>
        </div> 
        <div class="col-sm-8">
          <%= f.text_field :name, class: "form-control", placeholder: "Introducir el nombre de la categoría", autofocus: true %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">  
           <!-- si es un nuevo registro coloca el primer string, sino, el segundo -->
          <%= f.submit "Registrar categoría", class: 'btn btn-primary btn-lg'%> 
        </div>
      </div>
    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
      [<%= link_to "Regresar a la lista de categorías" , categories_path, class: "link" %>]
    </div>
